.navbar {
    background-color: #1F618D !important;
}
.nav-link {
    color: white !important;
    font-weight: bold !important;
}
.dropdown-menu {
    background-color: #1F618D;
    color: white;
}


.newArrivals {
    margin-top: 50px;
    display: flex;
}

.card1 {
    width: 600px;
    height: 400px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.card1 > img{
    width: 350px;
}

.card2 {
    width: 250px;
    height: auto !important;
    margin-bottom: 10px;
}
.card2 > .card-body{
    margin-left: 130px;
    width: 400px;
    height: auto !important;font-weight: bold;
    align-content: center;
}

@media screen and (max-width: 767px) {
    .card2 > .card-body{
        margin-left: 60px;
    }
}
@media screen and (max-width: 500px) {
    .card2 > .card-body{
        margin-left: 30px;
    }
}

.card-text {
    font-weight: bold;
}

.btn-primary {
    width: 100%;
    background-color: #1F618D;
}

.footer {
    width: 100%;
    background-color: #1F618D;
    height: 40px;
    margin-top: 131px;
}
.footer > h4 {
    display: flex;
    justify-content: center;
    color: white;
}
.fa-copyright {
    font-size: 20px !important;
    margin-top: 6px;
    margin-right: 8px;
}

.heading {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: #1F618D;
}
.heading > h1 {
    text-shadow: 2px 2px 4px black;
    font-size: 44px;
}